[submodule "deps/glew"]
	path = deps/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/gsl"]
	path = deps/gsl
	url = https://github.com/Microsoft/GSL.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
